---
title: Build a Simple Workbench
author: takenory
created_at: 2013/05/28
kind: article
publish: true
---

SPF材を使ったシンプルな作業台を自作した時の記録。
仮組までかなり簡単に作業が進んだのですが、作業台としては強度面に問題あり。。
なので、途中経過の記録です。

%h3 完成イメージ
作ろうとした作業台のデザインは以下のとおり。
%img(src = "/images/build_a_simple_workbench/paper_prototyping.jpg")
(画力が、、残念な感じw)

<!-- MORE -->

%h3 今回用意したもの
SAWHOURSE BRACKETSという、作業台などの足を簡単につくるための製品を見つけたので、
今回はそれを中心に材料を選びました。
%img(src = "/images/build_a_simple_workbench/IMAG0529.jpg")
%ul
  %li SAWHOURSE BRACKETS \980 × 2個
  %li 2x4材  ¥240 × 8本  (足)
  %li 2x3材  ¥350 × 2枚  (足同士、足と天板を固定する)
  %li 1x6材  ¥450 x 4枚  (天板)

%h3 足の作成
SAWHOURSE BRACKETSの製品名のとおり、'ソーホース'と呼ばれる形状の足を作ります。

%img(src = "/images/build_a_simple_workbench/IMAG0531.jpg")
まず、こんな感じで、2x4材とブラケットが繋がった状態のパーツを作ります。

%img(src = "/images/build_a_simple_workbench/IMAG0534.jpg")
ネジをドリルで打ち込んでしっかりと固定します。

%img(src = "/images/build_a_simple_workbench/IMAG0536.jpg")
コンパスのように開閉する足が出来上がります。

%img(src = "/images/build_a_simple_workbench/IMAG0538.jpg")
全部で４脚つくります。

%img(src = "/images/build_a_simple_workbench/IMAG0541.jpg")
２脚１組、2x3材で繋げるとソーホースが２つ完成します。

%h3 作業台の仮組
作業台の全体像を確認するために、仮組します。

%img(src = "/images/build_a_simple_workbench/IMAG0547.jpg")
ソーホースの上に、1x6材を並べて置いてみました。

冒頭の完成イメージは今見るととても貧弱だったのです、グラつきのないソーホースができたことで、
天板を固定してしまえば、全体としてはかなりの強度が得られそうです。

%h3 仮組して分かった課題
作業台としては、大きな加重が加わった場合でも、水平な作業面を保ちたいのですが、
1x6材の組み合わせによる天板では、上から加重に対して'たわみ'が出てしまい、
水平を保つ事ができませんでした。。。

%h3 今後の予定
1x6材を固定した上に、大きいサイズの合板を貼付けてみようと思ってます。
