---
title: How to Build Simple Workbench
author: takenory
created_at: 2013/05/27
kind: article
publish: true
---

作業台を自作した時の記録。
かなり簡単に作ることができたけど、強度面で問題あり。。
近日中に強化したいなぁ。

%h3 作りたいもののイメージ
以下のようなイメージで作成に着手。
%img(src = "/images/how_to_build_simple_workbench/paper_prototyping.jpg")
画力が残念な感じ、、

<!-- MORE -->

%h3 今回用意したもの
%img(src = "/images/how_to_build_simple_workbench/IMAG0529.jpg")
%ul
  %li SAWHOURSE BRACKETS \900 × 2個
  %li 2x4材（） \320 × 10本
  %li 2x4材（） \600 × 4枚

%h3 ソーホース作成
まず、こんな感じで、2x4材とブラケットを繋いで作業台の足となるパーツを作ります。
%img(src = "/images/how_to_build_simple_workbench/IMAG0531.jpg")

ドリルでギューンと固定します。
%img(src = "/images/how_to_build_simple_workbench/IMAG0534.jpg")

固定すると、コンパスのように開閉する足が出来ます。
%img(src = "/images/how_to_build_simple_workbench/IMAG0536.jpg")

全部で４脚つくります。
%img(src = "/images/how_to_build_simple_workbench/IMAG0538.jpg")





