---
title: 利益や売上げばかり考える人は、なぜ失敗してしまうのか――目的工学［入門編］ を読んだ
author: takenory
created_at: 2013/05/23
kind: article
publish: false
---

2013年3月に開催されたAgileShimane#21（
%a(href = 'http://twitter.com/jaVuBax')<@jaVuBax
さん壮行会）の翌日、
%a(href = 'http://twitter.com/kkd')<@kkd
さんが紹介されていた書籍。
出版前からプレビュー版が公開されていて、面白そうな内容だったので購入して読んでみました。

<!-- MORE -->

%h3 「目的工学」とは

これから書く予定
これから書く予定
これから書く予定

%h3 「なぜあの人は、あんなにいきいきと活動しているのか？」

この本から僕が得た一番の発見は、いつも疑問に感じていたこの問いへの一つの答えでした。
詳しくは、これから書く予定
