#articles {
  .page-header {
    h1 {
      background-color: #333333;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
    }
    h1:after {
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      border: 10px solid transparent;
      border-top-color: #333333;
      top: 100%;
      left: 20px;
    }
  }
}
.article {
  margin: 5px 0px;
  font-size: 120%;
  line-height: 140%;
}
